* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

:root {
  --primary-bg-color: #bbbef2;
  --habit-list-bg-color: #797a9e;
  --background-color: linear-gradient(
    180deg,
    rgba(151, 148, 213, 0.65) 0%,
    rgba(255, 255, 255, 0.986) 101.42%
  );
  --text-bg-color: white;
  --font-family-Inter: "Inter", sans-serif;
  --font-family-Nunito-regular: "Nunito Sans", sans-serif;
}

body {
  color: black;
  background: var(--background-color);
  font-family: var(--font-family-Nunito-regular);
  overflow: auto;
}

button {
  background: whitesmoke;
  border-radius: 1rem;
  border: rgba(265, 265, 265, 0.65) solid 2px;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
  width: 12.5rem;
  height: 2rem;
  outline: none;
}

button:hover {
  color: white;
  background: var(--primary-bg-color);
  box-shadow: 3px 3px 4px 4px rgba(65, 60, 60, 0.15);
  border: var(--primary-bg-color) solid 2px;
  transition: 0.35s;
}

input {
  background: whitesmoke;
  border-radius: 16px;
  border: rgba(265, 265, 265, 0.65) solid 2px;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  outline: none;
  padding-left: 1rem;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1em solid white;
  border-radius: 0.2em;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}



input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked + label:before {
  background-color: #797a9e;
  border-color: #797a9e;
  color: #fff;
}

table {
  margin-bottom: 170px;
  table-layout: fixed;
}

tbody {
  background-image: repeating-linear-gradient(
    90deg,
    #cacbed,
    #cacbed 110px,
    #9794d5 260px,
    #9794d5 220px
  );
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

tr {
  font-size: 24px;
  /* display: flex;
  width: auto;
  justify-content: space-around; */
  border-bottom: 0.3rem solid white;
}

th,
td {
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: 1rem;
}

/* Color all the odd td */

td:nth-of-type(2n + 1) {
  background: #9794d5;
  border-bottom: 0.1rem solid white;
  border-right: 0.1rem solid white;
}

/* Color all the even td */

td:nth-of-type(2n) {
  background: #cacbed;
  border-bottom: 0.1rem solid white;
  border-right: 0.1rem solid white;
}

th:first-of-type,
td:first-of-type {
  width: 200px;
}

svg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.container {
  display: grid;
  width: auto;
  height: 100vh;
  grid-template: repeat(8, 1fr) / repeat(6, 1fr);
  background: var(--background-color);
  color: white;
}

.user-logged-in {
  grid-template-columns: 1/3;
  grid-template-rows: 1/4;
}

.header {
  font-size: 3rem;
  margin: 1rem 0 1rem 0;
  grid-row: 1/3;
  grid-column: 1/3;
  color: var(--text-bg-color);
}

.sign-out-btn {
  grid-row: 1 / 2;
  grid-column: 6 / 7;
  justify-self: end;
  margin: 2rem 2rem 0 0;
}

.greeting {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
  align-self: center;
  color: var(--text-bg-color);
  font-family: var(--font-family-Inter);
  font-size: 1.5rem;
}

.input-field {
  grid-row: 3 / 4;
  grid-column: 2 / 6;
  font-family: var(--font-family-Inter);
}

#input-habit {
  width: 25rem;
}

.habit-list {
  border-top: 2px solid white;
  grid-row: 5 / 8;
  grid-column: 2 / 3;
  background: var(--primary-bg-color);
  display: grid;
  grid-template: repeat(5, 1fr) / 20% 1fr;
  border-right: none;
  border-bottom-left-radius: 0.8rem;
}

.days {
  grid-row: 5 / 8;
  grid-column: 2/6;
  align-items: baseline;
  background-color: #bbbef2;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.25);
}

#habitBox {
  background-color: #bbbef2;
  border-bottom: 0.1rem solid white;
  text-align: start;
}

.habit-holder {
  font-size: 1.2rem;
  align-self: flex-end;
  margin-bottom: 10px;
  font-weight: 300;
}

.habit-holder-habit {
  padding-left: 3rem;
  padding-right: 3.3rem;
}

.signInSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: black 2px solid;
  padding: 2.5rem;
  grid-column: 2/3;
  grid-row: 3/9;
  border-radius: 5%;
  border-radius: 16px;
  border: rgba(265, 265, 265, 0.65) solid 3px;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
  background-color: #bbbef2;
  color: var(--text-bg-color);
  font-weight: bold;
}

.gridSignIn {
  display: grid;
  grid-template: repeat(10, 1fr) / 1fr 25% 1fr;
  height: 100vh;
}

.logInButton {
  width: 100%;
  height: 1.875rem;
  align-items: center;
}

#removeButton {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
}
